# BEGIN COPYRIGHT BLOCK
# (C) 2018 Red Hat, Inc.
# All rights reserved.
# END COPYRIGHT BLOCK

language: java

services:
  - docker

stages:
  - test
  - extra

env:
  - BASE_IMAGE="fedora_29"
  - BASE_IMAGE="fedora_30"

script:
  - bash tools/run_container.sh "$BASE_IMAGE"

matrix:
  fast_finish: true
  include:
    - stage: extra
      env: BASE_IMAGE="pkcs11check"
    - stage: extra
      env: BASE_IMAGE="debian_jdk11"
    - stage: extra
      env: BASE_IMAGE="ubuntu_jdk8"
    - stage: extra
      env: BASE_IMAGE="fedora_29_jdk11"
    - stage: extra
      env: BASE_IMAGE="fedora_rawhide"
    - stage: extra
      env: BASE_IMAGE="fedora_sandbox"
    - stage: extra
      env: BASE_IMAGE="fast_finish"
      script:
        - "true"
  allow_failures:
    - stage: extra
      env: BASE_IMAGE="pkcs11check"
    - stage: extra
      env: BASE_IMAGE="debian_jdk11"
    - stage: extra
      env: BASE_IMAGE="ubuntu_jdk8"
    - stage: extra
      env: BASE_IMAGE="fedora_29_jdk11"
    - stage: extra
      env: BASE_IMAGE="fedora_rawhide"
    - stage: extra
      env: BASE_IMAGE="fedora_sandbox"
