name: Testing PKI CA

on: workflow_call

env:
  NAMESPACE: ${{ vars.REGISTRY_NAMESPACE || 'dogtagpki' }}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      SHARED: /tmp/workdir/jss
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Retrieve JSS images
        uses: actions/cache@v4
        with:
          key: jss-images-${{ github.sha }}
          path: jss-images.tar

      - name: Load JSS images
        run: docker load --input jss-images.tar

      - name: Create network
        run: docker network create example

      - name: Set up DS container
        run: |
          tests/bin/runner-init.sh \
              --hostname=ds.example.com \
              --network=example \
              --network-alias=ds.example.com \
              ds

      - name: Set up server container
        run: |
          tests/bin/runner-init.sh \
              --hostname=pki.example.com \
              pki

          docker network connect example pki \
              --alias pki.example.com \
              --alias server.example.com

      - name: Set up client1 container for blocking socket factory
        run: |
          tests/bin/runner-init.sh \
              --hostname=client1.example.com \
              --network=example \
              --network-alias=client1.example.com \
              client1

      - name: Set up client2 container for non-blocking socket factory
        run: |
          tests/bin/runner-init.sh \
              --hostname=client2.example.com \
              --network=example \
              --network-alias=client2.example.com \
              client2

      - name: Import LDAP SDK packages
        run: |
          docker create --name=ldapjdk-dist quay.io/$NAMESPACE/ldapjdk-dist:latest
          docker cp ldapjdk-dist:/root/RPMS/. /tmp/RPMS/
          docker rm -f ldapjdk-dist

      - name: Import PKI packages
        run: |
          docker create --name=pki-dist quay.io/$NAMESPACE/pki-dist:latest
          docker cp pki-dist:/root/RPMS/. /tmp/RPMS/
          docker rm -f pki-dist

      - name: Install packages
        run: |
          # install packages on server
          docker exec ds dnf install -y 389-ds-base
          docker cp /tmp/RPMS/. pki:/root/RPMS/
          docker exec pki bash -c "dnf localinstall -y /root/RPMS/*"

          # install packages on client1
          docker cp /tmp/RPMS/. client1:/root/RPMS/
          docker exec client1 bash -c "dnf localinstall -y /root/RPMS/*"

          # install packages on client2
          docker cp /tmp/RPMS/. client2:/root/RPMS/
          docker exec client2 bash -c "dnf localinstall -y /root/RPMS/*"

      - name: Install DS
        run: docker exec ds ${SHARED}/tests/bin/ds-create.sh

      - name: Install CA
        run: |
          docker exec pki pkispawn \
              -f /usr/share/pki/server/examples/installation/ca.cfg \
              -s CA \
              -D pki_ds_url=ldap://ds.example.com:389 \
              -v

          # set buffer size to 0 so that revocation takes effect immediately
          docker exec pki pki-server ca-config-set auths.revocationChecking.bufferSize 0

          # enable signed audit log
          docker exec pki pki-server ca-config-set log.instance.SignedAudit.logSigning true

          # restart PKI server
          docker exec pki pki-server restart --wait

      - name: Run PKI healthcheck
        run: docker exec pki pki-healthcheck --debug

      - name: Initialize PKI client
        run: |
          docker exec pki pki-server cert-export ca_signing --cert-file ca_signing.crt

          docker exec pki pki nss-cert-import \
              --cert ca_signing.crt \
              --trust CT,C,C \
              ca_signing

          docker exec pki pki info

      - name: Check CA certs
        run: |
          docker exec pki /usr/share/pki/tests/ca/bin/test-ca-signing-cert.sh
          docker exec pki /usr/share/pki/tests/ca/bin/test-subsystem-cert.sh
          docker exec pki /usr/share/pki/tests/ca/bin/test-ca-certs.sh

      - name: Check CA admin
        run: |
          docker exec pki pki pkcs12-import \
              --pkcs12 /root/.dogtag/pki-tomcat/ca_admin_cert.p12 \
              --pkcs12-password Secret.123
          docker exec pki pki -n caadmin ca-user-show caadmin

      - name: Check CA agent
        run: |
          docker exec pki /usr/share/pki/tests/ca/bin/ca-agent-create.sh
          docker exec pki /usr/share/pki/tests/ca/bin/ca-agent-cert-create.sh
          docker exec pki /usr/share/pki/tests/ca/bin/ca-agent-cert-revoke.sh
          docker exec pki /usr/share/pki/tests/ca/bin/ca-agent-cert-unrevoke.sh

      - name: Check CA auditor
        run: |
          docker exec pki /usr/share/pki/tests/ca/bin/test-ca-auditor-create.sh
          docker exec pki /usr/share/pki/tests/ca/bin/test-ca-auditor-cert.sh
          docker exec pki /usr/share/pki/tests/ca/bin/test-ca-auditor-logs.sh

      - name: Check client1 with unknown issuer
        run: |
          # run PKI CLI
          echo n | docker exec -i client1 pki \
              -U https://pki.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://pki.example.com:8443
          EOF

          diff expected stdout

          # check stderr
          cat > expected << EOF
          WARNING: UNKNOWN_ISSUER encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates an unknown CA cert 'CN=CA Signing Certificate,OU=pki-tomcat,O=EXAMPLE'
          Trust this certificate (y/N)? SEVERE: FATAL: SSL alert sent: BAD_CERTIFICATE
          IOException: Unable to write to socket: Failed to write to socket: (-5987) Invalid function argument.
          EOF

          diff expected stderr

          # the cert should not be stored
          docker exec client1 pki nss-cert-find | tee output

          diff /dev/null output

      - name: Check client2 with unknown issuer
        run: |
          # run PKI CLI
          echo n | docker exec -i client2 pki \
              -D org.dogtagpki.client.socketFactory=org.dogtagpki.client.NonBlockingSocketFactory \
              -U https://pki.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://pki.example.com:8443
          EOF

          # check stderr
          # TODO: fix missing SSL alert
          cat > expected << EOF
          WARNING: UNKNOWN_ISSUER encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates an unknown CA cert 'CN=CA Signing Certificate,OU=pki-tomcat,O=EXAMPLE'
          Trust this certificate (y/N)? IOException: Unable to write to socket: Unable to validate CN=pki.example.com, OU=pki-tomcat, O=EXAMPLE: Unknown issuer: CN=CA Signing Certificate, OU=pki-tomcat, O=EXAMPLE
          EOF

          diff expected stderr

          # the cert should not be stored
          docker exec client2 pki nss-cert-find | tee output

          diff /dev/null output

      - name: Check client1 with unknown issuer and wrong hostname
        run: |
          # run PKI CLI
          echo n | docker exec -i client1 pki \
              -U https://server.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://server.example.com:8443
          EOF

          diff expected stdout

          # check stderr
          cat > expected << EOF
          WARNING: UNKNOWN_ISSUER encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates an unknown CA cert 'CN=CA Signing Certificate,OU=pki-tomcat,O=EXAMPLE'
          WARNING: BAD_CERT_DOMAIN encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates a common-name mismatch
          Trust this certificate (y/N)? SEVERE: FATAL: SSL alert sent: BAD_CERTIFICATE
          IOException: Unable to write to socket: Failed to write to socket: (-12276) Unable to communicate securely with peer: requested domain name does not match the server's certificate.
          EOF

          diff expected stderr

          # the cert should not be stored
          docker exec client1 pki nss-cert-find | tee output

          diff /dev/null output

      - name: Check client2 with unknown issuer and wrong hostname
        run: |
          # run PKI CLI
          echo n | docker exec -i client2 pki \
              -D org.dogtagpki.client.socketFactory=org.dogtagpki.client.NonBlockingSocketFactory \
              -U https://server.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://server.example.com:8443
          EOF

          diff expected stdout

          # check stderr
          # TODO: fix missing SSL alert
          cat > expected << EOF
          WARNING: BAD_CERT_DOMAIN encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates a common-name mismatch
          WARNING: UNKNOWN_ISSUER encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates an unknown CA cert 'CN=CA Signing Certificate,OU=pki-tomcat,O=EXAMPLE'
          Trust this certificate (y/N)? IOException: Unable to write to socket: Unable to validate CN=pki.example.com, OU=pki-tomcat, O=EXAMPLE: Bad certificate domain: CN=pki.example.com, OU=pki-tomcat, O=EXAMPLE
          EOF

          diff expected stderr

          # the cert should not be stored
          docker exec client2 pki nss-cert-find | tee output

          diff /dev/null output

      - name: Check client1 with newly trusted server cert
        run: |
          # run PKI CLI
          echo y | docker exec -i client1 pki \
              -U https://pki.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://pki.example.com:8443
            Server Name: Dogtag Certificate System
            Server Version: 11.6.0
          EOF

          diff expected stdout

          # check stderr
          cat > expected << EOF
          WARNING: UNKNOWN_ISSUER encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates an unknown CA cert 'CN=CA Signing Certificate,OU=pki-tomcat,O=EXAMPLE'
          Trust this certificate (y/N)?
          EOF

          # remove trailing whitespace
          sed -i 's/ *$//' stderr

          # append end of line
          echo >> stderr

          diff expected stderr

          # the cert should be stored and trusted
          docker exec client1 pki nss-cert-find | tee output

          sed -i \
              -e '/^ *Serial Number:/d' \
              -e '/^ *Not Valid Before:/d' \
              -e '/^ *Not Valid After:/d' \
              output

          cat > expected << EOF
            Nickname: CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE
            Subject DN: CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE
            Issuer DN: CN=CA Signing Certificate,OU=pki-tomcat,O=EXAMPLE
            Trust Flags: P,,
          EOF

          diff expected output

      - name: Check client2 with newly trusted server cert
        run: |
          # run PKI CLI
          echo y | docker exec -i client2 pki \
              -D org.dogtagpki.client.socketFactory=org.dogtagpki.client.NonBlockingSocketFactory \
              -U https://pki.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://pki.example.com:8443
            Server Name: Dogtag Certificate System
            Server Version: 11.6.0
          EOF

          diff expected stdout

          # check stderr
          cat > expected << EOF
          WARNING: UNKNOWN_ISSUER encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates an unknown CA cert 'CN=CA Signing Certificate,OU=pki-tomcat,O=EXAMPLE'
          Trust this certificate (y/N)?
          EOF

          # remove trailing whitespace
          sed -i 's/ *$//' stderr

          # append end of line
          echo >> stderr

          diff expected stderr

          # the cert should be stored and trusted
          docker exec client2 pki nss-cert-find | tee output

          sed -i \
              -e '/^ *Serial Number:/d' \
              -e '/^ *Not Valid Before:/d' \
              -e '/^ *Not Valid After:/d' \
              output

          cat > expected << EOF
            Nickname: CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE
            Subject DN: CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE
            Issuer DN: CN=CA Signing Certificate,OU=pki-tomcat,O=EXAMPLE
            Trust Flags: P,,
          EOF

          diff expected output

      - name: Check client1 with trusted server cert and wrong hostname
        run: |
          # run PKI CLI
          docker exec client1 pki \
              -U https://server.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://server.example.com:8443
            Server Name: Dogtag Certificate System
            Server Version: 11.6.0
          EOF

          diff expected stdout

          # check stderr
          cat > expected << EOF
          WARNING: BAD_CERT_DOMAIN encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates a common-name mismatch
          EOF

          diff expected stderr

      - name: Check client2 with trusted server cert and wrong hostname
        run: |
          # run PKI CLI
          docker exec client2 pki \
              -D org.dogtagpki.client.socketFactory=org.dogtagpki.client.NonBlockingSocketFactory \
              -U https://server.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://server.example.com:8443
            Server Name: Dogtag Certificate System
            Server Version: 11.6.0
          EOF

          diff expected stdout

          # check stderr
          cat > expected << EOF
          WARNING: BAD_CERT_DOMAIN encountered on 'CN=pki.example.com,OU=pki-tomcat,O=EXAMPLE' indicates a common-name mismatch
          EOF

          diff expected stderr

      - name: Check client1 with already trusted server cert
        run: |
          # run PKI CLI
          docker exec client1 pki \
              -U https://pki.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://pki.example.com:8443
            Server Name: Dogtag Certificate System
            Server Version: 11.6.0
          EOF

          diff expected stdout

          # check stderr
          diff /dev/null stderr

      - name: Check client2 with already trusted server cert
        run: |
          # run PKI CLI
          docker exec client2 pki \
              -D org.dogtagpki.client.socketFactory=org.dogtagpki.client.NonBlockingSocketFactory \
              -U https://pki.example.com:8443 \
              info \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stdout
          cat > expected << EOF
            Server URL: https://pki.example.com:8443
            Server Name: Dogtag Certificate System
            Server Version: 11.6.0
          EOF

          diff expected stdout

          # check stderr
          diff /dev/null stderr

      - name: Check client1 with self-signed user cert
        run: |
          # generate user CSR
          docker exec client1 pki nss-cert-request \
              --subject "UID=testuser" \
              --ext /usr/share/pki/server/certs/admin.conf \
              --csr testuser.csr

          # issue self-signed user cert
          docker exec client1 pki nss-cert-issue \
              --csr testuser.csr \
              --ext /usr/share/pki/server/certs/admin.conf \
              --cert testuser.crt

          # import user cert
          docker exec client1 pki nss-cert-import \
              --cert testuser.crt \
              testuser

          # run PKI CLI
          docker exec client1 pki \
              -U https://pki.example.com:8443 \
              -n testuser \
              ca-user-find \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stderr
          cat > expected << EOF
          SEVERE: FATAL: SSL alert received: UNKNOWN_CA
          IOException: Unable to read from socket: Error reading from socket: (-12195) Peer does not recognize and trust the CA that issued your certificate.
          EOF

          diff expected stderr

      - name: Check client2 with self-signed user cert
        run: |
          # generate user CSR
          docker exec client2 pki nss-cert-request \
              --subject "UID=testuser" \
              --ext /usr/share/pki/server/certs/admin.conf \
              --csr testuser.csr

          # issue self-signed user cert
          docker exec client2 pki nss-cert-issue \
              --csr testuser.csr \
              --ext /usr/share/pki/server/certs/admin.conf \
              --cert testuser.crt

          # import user cert
          docker exec client2 pki nss-cert-import \
              --cert testuser.crt \
              testuser

          # run PKI CLI
          docker exec client2 pki \
              -D org.dogtagpki.client.socketFactory=org.dogtagpki.client.NonBlockingSocketFactory \
              -U https://pki.example.com:8443 \
              -n testuser \
              ca-user-find \
              > >(tee stdout) 2> >(tee stderr >&2) || true

          # check stderr
          # TODO: fix excessive SSL alert
          cat > expected << EOF
          SEVERE: FATAL: SSL alert received: UNKNOWN_CA
          SEVERE: FATAL: SSL alert sent: UNEXPECTED_MESSAGE
          RuntimeException: Unexpected error trying to construct channel: Unable to perform operations on a closed socket!
          EOF

          diff expected stderr

      - name: Remove CA
        run: docker exec pki pkidestroy -i pki-tomcat -s CA -v

      - name: Remove DS
        run: docker exec ds ${SHARED}/tests/bin/ds-remove.sh

      - name: Check DS server systemd journal
        if: always()
        run: |
          docker exec ds journalctl -x --no-pager -u dirsrv@localhost.service

      - name: Check PKI server systemd journal
        if: always()
        run: |
          docker exec pki journalctl -x --no-pager -u pki-tomcatd@pki-tomcat.service

      - name: Check CA debug log
        if: always()
        run: |
          docker exec pki find /var/lib/pki/pki-tomcat/logs/ca -name "debug.*" -exec cat {} \;

      - name: Gather artifacts
        if: always()
        run: |
          tests/bin/ds-artifacts-save.sh ds
          tests/bin/pki-artifacts-save.sh pki
        continue-on-error: true

      - name: Upload artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: pki-ca-test
          path: /tmp/artifacts
