name: Required Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - 'fedora_34'
          - 'fedora_34_jdk11'
          - 'symbolcheck'
          - 'debian_jdk11'
          - 'ubuntu_jdk11'
          # Disable tests due to missing dependencies
          # - 'centos_7'
          # - 'centos_8'

    steps:
    - name: Clone the repository
      uses: actions/checkout@v2

    - name: Build and Run the Docker Image
      run: bash tools/run_container.sh "${{ matrix.image }}"
